<mat-card class="login-form">

    <mat-label>Alta de usuarios</mat-label>

    <app-form-input
        [valor]="correo"
        label="Correo"
        placeholder="Correo"
        tipo="email"
        icono="mail"
        [hint]="hintCorreo"
        (cambiaValor)="correo = $event">
    </app-form-input>

    <app-form-input
        [valor]="clave"
        label="Clave"
        placeholder="Clave"
        tipo="password"
        icono="lock"
        [hint]="hintClave"
        (cambiaValor)="clave = $event">        
    </app-form-input>

    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <select matNativeControl required [(ngModel)]="tipo">
        <option value="Administrador">Administrador</option>
        <option value="Cliente">Cliente</option>
      </select>
      <mat-icon matSuffix>account_box</mat-icon>
      <mat-hint>{{hintTipo}}</mat-hint>
    </mat-form-field>

    <button mat-button class="registro-button" (click)="emitirNuevoRegistro()">Registrar</button>

    <button mat-button class="limpiar-button" (click)="limpiarForm()">Limpiar</button>

</mat-card>
